* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: grey;
}

.start_quiz{
    position: absolute;
    top:40%;
    left:40%;
    border: 2px solid white;
  
    padding: 10px 30px;
    font-size: 24px;
    cursor: pointer;
}

.start_quiz:hover {
    background:rgb(155, 129, 57);
}


.inactive{
    display: none;
}

.quiz-box{
    position: absolute;
    top:50%;
    left:50%;
    width: 50%;
    color: white;
    border:1px solid white;
    padding : 10px;
    background-color: rgb(13, 14, 13);
    transform: translate(-50%, -50%);

}

.quiz-box h2{
    font-size: 20px;
}

.option{
    font-size: 14px;
    border: 1px solid white;
    margin: 20px;
    padding: 8px;
    cursor: pointer;
    position: relative;
}

.quiz-box .option {
    position: relative;
    top: 6px;
    right: 10px;
    font-size: 12px;
    
}

.quiz-box .option:hover{
    background:rgb(155, 129, 57);
}

.quiz-footer{
    margin-top: 50px;
    justify-content: space-between;
    padding-top: 30px;
    display: flex;
    
    
   
}

.count_que .total_que{
    font-weight:bold;
    font-size: 20px;
}

.next-btn{
    font-size: 18ps;
    border: 2px solid white;
    padding: 10px;
    cursor: pointer;
}

.next-btn:hover{
    background:rgb(155, 129, 57);
}

.result-box{
    position: absolute;
    top:40%;
    left: 40%;
    color:rgb(12, 1, 1);
    border: 2px solid rgb(253, 252, 252);
}

.result-box .result{
    padding: 40px;
   
}

.result-box h3{
    font-size: 20px;
    margin-bottom: 10px;
}


.result-footer{
    display:flex;
  align-items: center;
    padding-bottom: 10px;
}

 .result-footer .exit{

    padding: 10px 10px;
    font-size: 25px;
    cursor: pointer; 
}

.result-footer:hover{
    background:rgb(155, 129, 57);
}


